NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
RELATORIOS_EMAIL_FROM=
RELATORIOS_EMAIL_REPLY_TO=
FEEDBACK_EMAIL_TO=jefersondr10@gmail.com,operacao@sua-empresa.com
ENABLE_MOBILE_BIPAGEM_DEMO=0
